@media screen and (min-width: 1701px) {
  .header .logo img {
    width: 6rem; }
  .header .logo span {
    font-size: 2.5rem; }

  .navigation {
    top: 8rem; }

  .user-navigations {
    top: 7rem; }

  .search-buttons {
    top: 6rem; }

  .collections-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1150px; }
    .collections-container .collection {
      height: 330px;
      width: 310px; }

  .users-container {
    grid-template-columns: repeat(3, 1fr); }
    .users-container .prev-photos {
      width: 375px;
      height: 90px; } }
@media screen and (max-width: 1700px) {
  .users-container {
    grid-template-columns: repeat(3, 1fr); }
    .users-container .prev-photos {
      width: 375px;
      height: 90px; }

  .collections-container {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1150px; }
    .collections-container .collection {
      height: 330px;
      width: 310px; }

  .header .logo img {
    width: 6rem; }
  .header .logo span {
    font-size: 2.5rem; }

  .navigation {
    top: 8rem; }

  .user-navigations {
    top: 7rem; }

  .search-buttons {
    top: 6rem; } }
@media screen and (max-width: 1300px) {
  .prev-photos {
    max-width: 28vw;
    max-height: 8vw; } }
@media screen and (max-width: 1024px) {
  .header {
    height: 6rem; }
    .header .logo img {
      width: 4rem; }

  .search-buttons {
    top: 4rem; }

  .user-navigations {
    top: 5rem; }

  .navigation {
    top: 6rem; }

  .collections-container {
    grid-template-columns: 1fr 1fr 1fr; }
    .collections-container .collection {
      min-height: 30vw;
      width: 30vw; }

  .user-profile-center {
    flex-direction: column; }

  .users-container {
    grid-template-columns: repeat(2, 1fr); }
    .users-container .prev-photos {
      min-width: 44vw;
      max-height: 90px; } }
@media screen and (max-width: 768px) {
  .collections-container {
    grid-template-columns: 1fr 1fr; }
    .collections-container .collection {
      min-height: 44vw;
      width: 44vw; }

  .users-container {
    grid-template-columns: 1fr; }
    .users-container .prev-photos {
      min-width: 380px;
      max-height: 100px; } }
@media screen and (max-width: 500px) {
  .collections-container {
    grid-template-columns: 1fr; }
    .collections-container .collection {
      height: 90vw;
      width: 90vw; } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  transition: 1s; }
  *::-webkit-scrollbar {
    display: none; }

body {
  overflow-x: hidden; }
  body.light {
    background-color: #F5F5F5; }
  body.dark {
    background-color: #222222; }

.app.light {
  color: #222222; }
  .app.light .border-bottom {
    border-bottom: 1px solid #222222; }
  .app.light .main-background {
    background-color: #F5F5F5; }
  .app.light .sub-background {
    background-color: #D6E4E5; }
  .app.light a {
    color: #222222; }
  .app.light a.active {
    background-color: #497174;
    color: #F5F5F5; }
.app.dark {
  color: #F5F5F5; }
  .app.dark .border-bottom {
    border-bottom: 1px solid #F5F5F5; }
  .app.dark .main-background {
    background-color: #222222; }
  .app.dark .sub-background {
    background-color: #497174; }
  .app.dark a {
    color: #F5F5F5; }
  .app.dark a.active {
    background-color: #D6E4E5;
    color: #222222; }
  .app.dark button {
    color: #F5F5F5; }

i {
  font-size: 2.5rem;
  padding: 1rem; }

button,
i,
a {
  cursor: pointer; }

a {
  text-decoration: none;
  font-size: 1.5rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5; }

.logo-search {
  width: 100%;
  display: flex;
  height: 8rem; }
  .logo-search .logo {
    display: flex;
    align-items: center; }
    .logo-search .logo img {
      cursor: pointer;
      border-radius: 50%;
      margin: 1rem 1rem 1rem 0; }
    .logo-search .logo span {
      font-weight: bold; }
  .logo-search .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 2.5rem;
    margin-left: auto; }
    .logo-search .search-bar input {
      width: 100%;
      border: 1px solid transparent;
      padding: 0.3rem 1rem;
      margin-left: 1rem;
      border-radius: 5px;
      background-color: #fff !important;
      color: #000000 !important; }
    .logo-search .search-bar .fa-magnifying-glass {
      font-size: 2rem;
      margin: 0.5rem;
      padding: 0.6rem;
      border-radius: 5px; }
    .logo-search .search-bar button {
      white-space: nowrap;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem; }

.navigation {
  z-index: 5;
  padding: 0 2rem;
  position: sticky;
  width: 100%; }
  .navigation .nav-bar {
    overflow-x: scroll;
    width: 95%;
    margin: auto;
    padding: 1rem; }
    .navigation .nav-bar a {
      padding: 1rem 2rem; }

.search-buttons {
  position: sticky;
  padding: 2rem 0 2rem 2%;
  display: flex;
  z-index: 3;
  width: 100%; }
  .search-buttons a {
    padding: 1rem 2rem; }

.photos {
  position: relative;
  padding-top: 2rem; }
  .photos .photo-container {
    position: relative; }
    .photos .photo-container a {
      padding: 0 1rem; }
    .photos .photo-container:hover .username_ {
      display: flex; }
    .photos .photo-container .username_ {
      display: none;
      align-items: center;
      border-radius: 20px;
      position: absolute;
      bottom: 10px;
      padding: 2px;
      font-size: 1rem;
      margin-left: 5px;
      padding-right: 5px;
      object-fit: contain;
      background-color: #888;
      max-width: 90%; }
      .photos .photo-container .username_ img {
        border-radius: 50%;
        width: 25px; }
      .photos .photo-container .username_ a {
        font-size: 1.2rem; }
        .photos .photo-container .username_ a:hover {
          text-decoration: none; }
    .photos .photo-container .item {
      width: 100%;
      border-radius: 5px;
      cursor: zoom-in; }

.user-page {
  width: 100%; }
  .user-page .user-profile {
    padding: 2rem; }
    .user-page .user-profile .user-profile-center {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      min-height: 250px;
      padding: 20px; }
      .user-page .user-profile .user-profile-center img {
        width: 200px;
        height: 200px;
        align-self: center;
        border-radius: 50%;
        margin-right: 50px;
        object-fit: cover;
        border: #eee 2px solid; }
      .user-page .user-profile .user-profile-center .user-details {
        margin-top: 2rem; }
        .user-page .user-profile .user-profile-center .user-details h1 {
          font-size: 2rem; }
        .user-page .user-profile .user-profile-center .user-details span {
          font-size: 1.5rem; }
        .user-page .user-profile .user-profile-center .user-details p {
          font-size: 1.5rem; }
        .user-page .user-profile .user-profile-center .user-details .bio {
          margin-top: 20px;
          margin-bottom: 20px; }
        .user-page .user-profile .user-profile-center .user-details .fa-location-dot {
          margin-left: 40px; }

.user-navigations {
  padding: 2rem 0 2rem 2%;
  position: sticky;
  z-index: 1;
  border: none !important; }
  .user-navigations a {
    padding: 1rem 2rem; }

.collections-container {
  display: grid;
  margin: 2rem auto;
  padding: 0 2%;
  justify-items: center; }
  .collections-container .collection {
    cursor: pointer;
    margin: 0 1rem;
    display: flex;
    flex-direction: column; }
    .collections-container .collection .cover-photo {
      border: #fff 1px solid;
      width: 100%;
      height: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      background-color: #000000; }
      .collections-container .collection .cover-photo .profile {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4; }
      .collections-container .collection .cover-photo .side-photos {
        grid-column-start: 4;
        grid-row-start: 1;
        grid-column-end: 5;
        grid-row-end: 5;
        display: flex;
        flex-direction: column; }
        .collections-container .collection .cover-photo .side-photos div {
          flex-grow: 1;
          flex-basis: 0;
          min-height: 0; }
      .collections-container .collection .cover-photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: #fff 1px solid; }
  .collections-container .collection-info {
    width: 100%;
    position: relative;
    margin-top: 2rem; }
    .collections-container .collection-info a {
      font-size: 1.5rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 600;
      display: block; }
      .collections-container .collection-info a:hover {
        text-decoration: underline; }
    .collections-container .collection-info .number-of-photos {
      font-size: 1.3rem;
      font-weight: 400; }
    .collections-container .collection-info .username {
      font-size: 1.4rem;
      font-weight: 500;
      display: inline; }
    .collections-container .collection-info small {
      font-size: 1.4rem; }
    .collections-container .collection-info .tags {
      max-width: 100%;
      margin: 1rem 0;
      overflow: hidden; }
      .collections-container .collection-info .tags a {
        border-radius: 0;
        border: none;
        display: inline;
        background-color: #888;
        font-size: 1.2rem;
        margin: 0.5rem;
        padding: 2rem; }
        .collections-container .collection-info .tags a:hover {
          cursor: default;
          text-decoration: none; }

.users {
  z-index: 2;
  padding: 0 2%; }
  .users .users-container {
    display: grid;
    margin: 0 auto;
    max-width: 1250px;
    justify-items: center; }
    .users .users-container .user {
      width: min-content;
      margin: 2rem 1rem; }
    .users .users-container .user-container {
      width: 100%;
      margin: auto;
      padding: 0.5rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column; }
      .users .users-container .user-container a {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px; }
        .users .users-container .user-container a:hover {
          text-decoration: underline; }
      .users .users-container .user-container .name {
        border-radius: 2rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        margin: 1rem auto;
        width: 90%; }
        .users .users-container .user-container .name .profile img {
          width: 80%;
          border-radius: 50%; }
        .users .users-container .user-container .name .names {
          font-size: 1.5rem; }
        .users .users-container .user-container .name .full-name {
          font-size: 1.8rem; }
        .users .users-container .user-container .name .username {
          display: block;
          font-size: 1.2rem; }
      .users .users-container .user-container .prev-photos {
        padding: 0 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
        .users .users-container .user-container .prev-photos .prev-photo {
          min-height: 0;
          border: transparent 1px solid; }
          .users .users-container .user-container .prev-photos .prev-photo img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
      .users .users-container .user-container .view {
        display: flex;
        padding: 2rem;
        width: 100%; }
        .users .users-container .user-container .view button {
          margin: auto;
          border-radius: 0.8rem;
          font-size: 1.8rem;
          padding: 0.5rem;
          border: none;
          width: 100%; }

.error {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  font-size: 3rem;
  padding: 20%;
  z-index: 500;
  position: absolute;
  text-align: center;
  flex-direction: column; }

.loading {
  width: 100%;
  position: relative;
  bottom: 40%;
  font-size: 2rem;
  padding: 20%;
  display: flex;
  justify-content: center; }

.zero-result {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  top: 20rem;
  position: relative; }

.return-home {
  width: fit-content;
  margin: 2rem auto; }

.landing-page {
  width: 100%;
  height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1576266394503-4999348b5447?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: #fff; }
  .landing-page .landing-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    text-align: left; }
    .landing-page .landing-bg .landing-contents {
      width: 70%;
      margin: auto; }
      .landing-page .landing-bg .landing-contents .container {
        font-size: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: left; }

.image-viewer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 45;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: zoom-out; }
  .image-viewer .image {
    display: flex;
    max-width: 90vw;
    max-height: 90vh;
    width: fit-content;
    height: fit-content;
    margin: 5vh auto; }
    .image-viewer .image img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain; }

.no-result {
  padding: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem; }

/*# sourceMappingURL=style.css.map */
