//Extralarge
@include mediaXXXl {

  .header{
    .logo{
      img{
        width: 6rem;
      }
      span{
        font-size: 2.5rem;
      }
    }
  }
  .navigation{
    top:8rem;
  }
  .user-navigations{
    top: 7rem;
  }
  .search-buttons{
    top:6rem;
  }
  .collections-container{
    grid-template-columns:1fr 1fr 1fr;
    max-width: 1150px;
    .collection{
      height: 330px;
      width: 310px;
    }
  }
  .users-container{
    grid-template-columns:repeat(3,1fr);
    .prev-photos{
      width: 375px;
      height: 90px;
    }
  }
}
//Bigscreens
@include mediaXXl {
  .users-container{
    grid-template-columns:repeat(3,1fr);
    .prev-photos{
      width: 375px;
      height: 90px;
    }
  }
  .collections-container{
    grid-template-columns:1fr 1fr 1fr;
    max-width: 1150px;
    .collection{
      height: 330px;
      width: 310px;
    }
  }
  .header{
    .logo{
      img{
        width: 6rem;
      }
      span{
        font-size: 2.5rem;
      }
    }
  }
  .navigation{
    top:8rem;
  }
  .user-navigations{
    top: 7rem;
  }
  .search-buttons{
    top:6rem;
  }

  }
  // Widescreens
  @include mediaXl {
    .prev-photos{
      max-width: 28vw;
      max-height: 8vw;
    }
  }




  // Desktops & Laptops
  @include mediaLg {

    .header{
      height: 6rem;
      .logo{
        img{
          width: 4rem;
        }
      }
    }
  .search-buttons{
      top: 4rem;
    }
    .user-navigations{
      top: 5rem;
    }
    .navigation{
      top: 6rem;
    }
    .collections-container{
      grid-template-columns:1fr 1fr 1fr;
      .collection{
        min-height: 30vw;
        width: 30vw;
      }
    }
    .user-profile-center{
      flex-direction: column;
    }
    .users-container{
      grid-template-columns:repeat(2,1fr);
      .prev-photos{
        min-width: 44vw;
        max-height: 90px;
      }
    }
  }
  // Tablets & Small Laptops
@include mediaMd {
  .collections-container{
    grid-template-columns:1fr 1fr;
    .collection{
      min-height: 44vw;
      width: 44vw;
    }
  }
  .users-container{
    grid-template-columns:1fr;
    .prev-photos{
      min-width: 380px;
      max-height: 100px;
    }
  }

}
// Smartphones
@include mediaSm {
  .collections-container{
    grid-template-columns: 1fr;
    .collection{
      height: 90vw;
      width: 90vw;
    }
  }
}